:root {
    /* fonts */
    --main-font: 'Poppins', sans-serif;

    /* colors*/
    --main-clr: #151E2A;
    --light-clr: white;
	--header-font-clr: white;
    --secondary-clr:#464D57;
    --bright-clr: #555FF1;
	--bright-hover-clr: #262d96;
	--dark-clr: #000307;
	--grey-clr: #4F5E72;
	--grey-secondary-clr: #415269;
	--category-btn-font-clr: #151E2A;

}

/* switch naar lightmode als de gebruiker lightmode prefereert*/
@media (prefers-color-scheme: light) {

	:root {
		/* fonts */
		--main-font: 'Poppins', sans-serif;
	
		/* colors*/
		--main-clr: #ffffff;
		--light-clr: rgb(19, 26, 43);
		--header-font-clr: white;
		--secondary-clr:#464D57;
		--bright-clr: #555FF1;
		--bright-hover-clr: #262d96;
		--dark-clr: #202731;
		--grey-clr: #b3ccec;
		--grey-secondary-clr: #5b87c0;
		--category-btn-font-clr: white;

	}
	
}

/* CSS remedy */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    background-color: var(--main-clr);
    max-width: 100%;
}

/* /////////////////// */
/* ///// header ///// /*/
/* /////////////////// */

header {
    padding: 0 calc((100% - 80em) / 2);
    display: flex;
    justify-content: space-between;

    background-color: var(--dark-clr);
    position: fixed;
    width: 100%;
    z-index: 91;

}


h1 {
	font-family: var(--main-font);
    color: var(--header-font-clr);
    font-size: 1.5em;
    padding: 1.5em 1em 0em 1em;

}

/* ////////////////////////////// */
/* ///// Favorites button ///// /*/
/* ///////////////////////////// */

/* de animatie voor zowel het hartje als het winkelwagentje */
/* de link wordt even iets groter en dan weer het normale formaat */
@keyframes updating {
    0% { transform:scale(1); }
    50% { transform:scale(1.5); }
    100% { transform:scale(1); }
  }

main header a {
    position:relative;
    padding: 0.125em 0.675em;
    border-radius:.25rem;
    font-size:2em;
    line-height: 3em;
    text-decoration:none;
    color: var(--header-font-clr);
}
  

/* met js wort de class updates toegevoegd als er op het hartje wordt geklikt */
/* dan wordt de animatie geactiveerd */
main header a.updated {
    animation-name:updating;
    animation-duration:.5s;
    
    /* met transform-orgin kun je aangeven tov van welk punt transforms worden toegepast - default is dat het midden ven een element */
    /* met center top zorg je ervoor dat het gele hartje en de winkelwagen van middenboven naar beneden groter worden */
    transform-origin:center top;
  }  


/* getalletjes */
main header a span {
    position:absolute;
    right: 1em;
    top: 2.875em;

    min-width:1.25em;
    padding:0 .25em;
    
    background-color: var(--bright-clr);
    border-radius:.625em;
    
    font-size:.375em;
    font-family: var(--main-font);
    text-align:center;
    line-height:1.25em;
    color:var(--main-inverse-color);
    
    /* initieel is de waarde in de rode bolletjes 0 */
    /* dan worden ze verborgen */
    display:none;
  }
  
  /* indien de waarde van de span in van het hartje groter dan 0 is */
  /* wordt met JS de class 'positive' toegevoegd */
  /* die kan hier gebruikt worden om het paarse bolletje te tonen */
  main header a span.positive {
    display:block;
  }
  
  


/* /////////////////////// */
/* ///// Searchbar ///// /*/
/* ///////////////////// */

  aside {
    top:0;
    padding: 1em;
    color: var(--light-clr);
    padding-top: 8em;
	text-align: center;
  }
  
  aside input {
    width:100%;
    max-width: 24em;
    height: 3em;
    padding: .5em;
    border-radius: .5em;
    font-size: 1em;
    color: var(--light-clr);
    background-color: var(--grey-clr);
    font-family: var(--main-font);
    border: none;

  }

  aside input::placeholder {
    color: var(--main-clr);
    font-weight: 600;
  }

  aside input span {
    width: 1em;   
  }

  aside input::placeholder {
	color: var(--dark-clr);
  }
  
/* Remove cancel button inside searchbar */
  input[type = 'search']::-webkit-search-cancel-button{
	-webkit-appearance: none;	
  }
/* ///////////////////////////// */
/* ///// Category filter ///// /*/
/* /////////////////// /////////*/

section:nth-of-type(2) {
    padding: 0 calc((100% - 33em) / 2);
    width: 100%;
}


section:nth-of-type(2) div {
    float: left;
    width: 100px;
    height: 40px;
    position: relative;
    font-family: var(--main-font);
    color: var(--light-clr);
    padding: 1em;
    margin: 1em;
    text-align: center;
}

section:nth-of-type(2) div label,
section:nth-of-type(2) div input{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

section:nth-of-type(2) div input[type="radio"] {
    opacity: 0.011;
    z-index: 100;
}


section:nth-of-type(2) div input[type="radio"]:checked + label {
    background: var(--bright-clr);
    border-radius: .5em;
}  


section:nth-of-type(2) div label {
    cursor: pointer;
    z-index: 90;
    line-height: 2.4em;
    transition: .2s ease;
    background-color: var(--grey-clr);
    border-radius: .5em;
	color: var(--category-btn-font-clr);

  }

  section:nth-of-type(2) div label:hover {
    background: var(--bright-hover-clr);
    border-radius: .5em;
    transition: .2s ease;

  }


  ul.popular li:not(.popular),
  ul.action li:not(.action),
  ul.comedy li:not(.comedy)
{
      display: none;
  }


/* ///////////////////////////// */
/* /////   Movie Items   ///// /*/
/* /////////////////// /////////*/

ul:last-of-type {
    list-style: none;
    font-family: var(--main-font);

    margin: auto;
    width: 100%;
    display: block;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: repeat(4, 350px);
    column-gap: 15px;
    row-gap: 30px;
    color: var(--light-clr);
    max-width: 80em;

    height: 100%;
    overflow-y: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
ul:last-of-type::-webkit-scrollbar {
	display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  ul:last-of-type {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
  }

ul:last-of-type  li {
    margin: auto;
    padding: 1.5em;
    transition: .2s ease;
}

ul:first-of-type li:hover {
    transform: scale(1.05);
    transition: .2s ease;
    border-radius: 1em;
}

ul:last-of-type  li img {
    max-width: 100%;
    border-radius: .8em;
	margin-bottom: 1.5em;
}

ul:last-of-type li h2{
	margin-top: -2em;
	font-size: 1.3em;
}

ul:last-of-type li p {
	font-weight: 400;
}



ul:last-of-type li h2,
ul:last-of-type li p
{
	text-align: end;
}


/* mediaqueries */

@media screen and (min-width: 480px) {
    ul:last-of-type  {
        margin: auto;
        max-width: 80em;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        grid-template-rows: repeat(4, 350px);
        column-gap: 30px;
        row-gap: 1%;
        color: var(--light-clr);
    } 
    
}

@media screen and (min-width: 599px) {
  ul:last-of-type  {
      margin: auto;
      max-width: 80em;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      grid-template-rows: repeat(4, 350px);
      column-gap: 30px;
      row-gap: 10em;
	  color: var(--light-clr);
	} 
  
}

@media screen and (min-width: 733px) {
  ul:last-of-type  {
      margin: auto;
      max-width: 80em;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      grid-template-rows: repeat(4, 350px);
      column-gap: 30px;
      row-gap: 1em;
	  color: var(--light-clr);
	} 
  
}

@media screen and (min-width: 943px) {
  ul:last-of-type  {
      margin: auto;
      max-width: 80em;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      grid-template-rows: repeat(4, 350px);
      column-gap: 30px;
      row-gap: 4em;
	  color: var(--light-clr);
	} 
  
}

@media screen and (min-width: 1110px) {
	ul:last-of-type  {
		margin: auto;
		max-width: 80em;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
		grid-template-rows: repeat(4, 350px);
		column-gap: 30px;
		row-gap: 0em;
        color: var(--light-clr);
	} 
	
  }

/* //////////////////////////////////////////////// */
/* /////   Favorite button inside list-item  ///// /*/
/* /////////////////// ////////////////////////////*/

ul:last-of-type  li button {
    color: var(--light-clr);
    background:none;
    background-color: var(--grey-clr);
    border:none;
    border-radius: 2em;
    cursor:pointer;
    margin-right: -6em;
    margin-top: -6em;

  }

  ul:last-of-type  li  button.wish {   
    grid-column-start:2;
    grid-row-start:1;
    justify-self:flex-end;

    width: 1.5em;
    height: 1.5em;
    font-size:2em;
    line-height:1em;
  }
  
  ul:last-of-type  li  button.wish:hover {
    background-color:var(--grey-secondary-clr);
  }

/* ///////////////////////////// */
/* ///// wishlist ul ///// /*/
/* /////////////////// /////////*/

section:first-of-type  {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: var(--bright-clr);
	padding: 1rem;
	transform: translateX(100%);
	transition: .5s;
  z-index: 100;
}

section:first-of-type  div {
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: space-between;

}

section:first-of-type  h2 {
  font-family: var(--main-font);
}

section:first-of-type.is-open {
	transform: translateX(0);
}

section:first-of-type button:first-of-type {
  font-size: 2em;
  border: none;
  background:none;
}

footer {
	height: 3em;
	background-color: var(--grey-clr);
	color: var(--light-clr);
	font-family: var(--main-font);
	text-align: center;
	padding: .5em;
}